.w-md-editor-toolbar {
  background-color: "";
}

.w-md-editor-text-input {
  background-color: "";
}

.wmde-markdown.wmde-markdown-color.w-md-editor-preview {
  background-color: "";
}

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.openEditor {
    margin-top: 10px;
    margin-bottom: 10px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.ConfirmEditor.MuiButton-outlinedSizeSmall.MuiButton-sizeSmall{
    float: right;
    margin-top: 10px;
}

.editor{
  margin-bottom: 45px;
  margin-top: 15px;
}